.App {
  text-align: center;
  padding: 1rem;
}

.App-header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  border-radius: 8px;
  margin-bottom: 1rem;
}

























/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  background-color: #282c34;
  color: rgb(7, 22, 35);
  align-items: center;
}

.firstbutton{
  color: aqua;
  background-color: #282c34;
}
.secondbutton{
  color: rgb(255, 29, 29);
  padding: 20px;
}

.input_add{
  padding: 50px;
  background: #61dafb;
}
.App-link {
  color: #61dafb;
}

.task_delete{
  margin: 10px 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondbutton ,.one{
  padding: 20px;
  margin: 10px;
} */